<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="toast-container"></div>
    <% if logged_in? %>
      <div data-controller="modal">
        <button class="fab" data-action="click->modal#open">+</button>
        <%= render partial: "practice_records/new_record_modal", locals: { practice_record: @practice_record } %>
      </div>

      <div class="main-container">
        <aside>
          <nav>
            <%= link_to("Dashboard", dashboard_path) %>
          </nav>
          <nav>
            <%= link_to("Practice Record Index", practice_records_path) %>
          </nav>
          <nav>
            <%= link_to("My Calendar", mycalendar_path) %>
          </nav>
          <nav>
            <%= link_to("My Statistics", mystatistics_path) %>
          </nav>
          <div class="user-info">
            <%= link_to user_path(current_user), class: "user-link" do %>
              <div class="user-name"><%= current_user.name %></div>
              <div class="user-email"><%= current_user.email %></div>
            <% end %>
            <%= button_to "ログアウト", logout_path, method: :delete, class: "btn-logout" %>
          </div>
        </aside>
        <main>
          <%= yield %>
        </main>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
